# External libraries
extern/SDL*

# Downloaded library cache
cache/

# Build directories
/build*/
/cmake-build*/
/dist/
/out/

# Swift Package Manager
/.build/

# IDEs
.vs/
/.vscode
/.idea
*.user

# macOS metadata
.DS_Store

